.footer {
    padding: 2.5rem;
    background-color: $grisOscuro;
    padding-top: 2.5rem;
    margin-bottom: 0;

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

}


.copyright {
    color: $blanco;
    text-align: center;
}