.no-webp .inicio {
    background-image: url('../img/header.jpg');
}

.webp .inicio {
    background-image: url('../img/header.webp');
}


.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    background-position: center center;
    background-size: center;

    &.inicio {
        @include tablet {
            height: 70rem;
        }

        .contenido-header {
            @include tablet {
                height: 70rem;
            }
        }
    }

}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1 {
        text-align: left;
    }
}

.titulo-header {
    color: $blanco;
    font-weight: $bold;
    padding-bottom: 3rem;
    max-width: 60rem;
}