.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }
}

.dark-mode-boton {
    width: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    filter: invert(100%); // Esta propiedad inivirte el color del svg o objeto seleccionado

    &:hover {
        cursor: pointer;
    }

    @include tablet {
        margin-top: 0;
    }

}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .5s linear, height .5s linear;
    height: 0;

    @include tablet {
        display: flex;
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

// Menu de hamburgesa 
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}